.contactLinks {
  display: flex;
  flex-direction: column;
  margin-right: "40px";
}

.contactLinkWrapper > div {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.contactLinkWrapper > div > a {
  cursor: pointer;
  color: black;
  display: inline-block;
  text-decoration: none;
}

.contactLinkWrapper > div > a:nth-child(1) {
  color: #ae7743;
}

.contactLinkWrapper > div > a:nth-child(2) {
  margin-left: 20px;
}

.sectionTitle {
  font-size: 2.5rem;
  color: #ae7743;
  margin-top: 0;
}
