.sectionWrapper {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 20px 10px;
}

.sectionWrapper h1 {
  color: #ae7743;
  font-size: 2.5rem;
}

.sectionWrapper h1:last-of-type {
  margin-top: 40px;
}

.sectionWrapper p {
  margin: 8px 0;
}

@media (min-width: 800px) {
  .sectionWrapper {
    margin: auto;
    width: 80%;
  }
}
