.sectionWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 40px auto;
  max-width: 1000px;
  padding: 0 40px;
}

.sectionWrapper h1 {
  color: #ae7743;
  font-size: 2.5rem;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px;
  border-radius: 10px;
  color: #ae7743;
  cursor: pointer;
  font-family: "fondamento", cursive;
  margin: 15px 15px;
  max-width: 200px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.card > div {
  margin-top: 15px;
}

@media (min-width: 800px) {
  .sectionWrapper {
    padding: 0 80px;
  }
}

@media (min-width: 1000px) {
  .sectionWrapper {
    margin-top: 0;
  }
}
