.footer {
  align-items: center;
  background-color: #202020;
  color: #ae7743;
  display: flex;
  flex-direction: column;
  font-family: "fondamento", cursive;
  padding: 3rem;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  margin: 5px 0;
}

.internPage {
  color: #ae7743;
}

.internPage:hover {
  color: #623408;
}

.link {
  list-style-type: none;
  margin: 0;
}

.link > a {
  color: #ae7743;
  text-decoration: none;
}

.link > a:hover {
  color: #623408;
}

.linkWrapper {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.widgets {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

@media (min-width: 800px) {
  .widgets {
    flex-direction: row;
    justify-content: space-between;
  }
}
