.footer {
  align-items: center;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  font-family: "Redressed", cursive;
  padding: 3rem;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  margin: 5px 0;
}

.link {
  list-style-type: none;
  margin: 0;
}

.link > a {
  color: #ae7743;
  text-decoration: none;
}

.link > a:hover {
  color: #623408;
}

.linkWrapper {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.subtitle {
  color: #ae7743;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.title {
  color: #ae7743;
  font-size: 2rem;
}
