.footer {
  align-items: center;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.link {
  color: #ae7743;
  text-decoration: none;
}

.link:hover {
  color: #623408;
}

.linkWrapper {
  list-style-type: none;
  margin: 0;
}

.subtitle {
  color: #ae7743;
  margin-bottom: 0.75rem;
}

.title {
  color: #ae7743;
}
