.header {
  align-items: center;
  background: #202020;
  box-shadow: 0 -3px 6px 0px #c1c1c1;
  display: flex;
  font-family: "Redressed", cursive;
  justify-content: space-between;
  min-height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.largeMenu {
  display: none;
}

.largeMenu > ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.linkWrapper {
  list-style-type: none;
}

.linkWrapper > a {
  color: #ae7743;
  display: block;
  font-size: 2rem;
  margin: 2rem 0;
  padding: 0.5rem;
  text-decoration: none;
}

.logo {
  margin-left: 20px;
}

.smallMenu {
  background-color: #202020;
  height: 100vh;
  left: 100%;
  position: fixed;
  top: 0;
  width: 100%;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.smallMenu > ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menuToggle {
  cursor: pointer;
  margin-right: 20px;
  padding: 5px;
}

.menuToggle > span {
  background-color: white;
  border-radius: 3px;
  display: block;
  height: 3px;
  margin-bottom: 6px;
  width: 30px;

  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

.menuToggle > span:last-child {
  margin-bottom: 0;
}

.navOpen .smallMenu {
  transform: translateX(-100%);
}

.navOpen .menuToggle > span:first-child {
  transform: rotate(45deg) translate(-2px, -2px);
}

.navOpen .menuToggle > span:nth-child(2) {
  opacity: 0;
}

.navOpen .menuToggle > span:last-child {
  transform: rotate(-45deg);
}

@media (min-width: 800px) {
  .hamburgerMenu {
    display: none;
  }

  .largeMenu {
    display: block;
  }

  .linkWrapper > a {
    display: block;
    margin: 0;
    padding: 1rem;
  }

  .linkWrapper:hover {
    background-color: #474747;
  }

  .logo {
    margin-left: 40px;
  }
}
